@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}
header{
    background-color: #eadcff;
    min-height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size: 72px;
}
.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0;
}
button{
    background-color: #05c7cf;
    font: 24px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    font-family: 'Roboto', sans-serif;
}
a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;

}
.logo{
    width: 300px;
}
ul{
    display: flex;
}
li{
    font-weight: 700;
    list-style: none;
    padding-left: 24px;
}
#about, #discord, #contact{
    padding: 48px 0;
}
#about{
    background-color: #f8ffdc;
}
h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}
.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__description--wrapper{
    width: 60%;
}
.section__description--para{
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 24px;

}
.about__image--wrapper{
    width: 40%;
}
img{
    width: 100%;
}
.section__description--wrapper, .about__image--wrapper{
    padding: 0 24px;
}
#discord{
    background-color: #cefdff;
}
#contact{
    background-color: #dce9ff;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
input, textarea{
    margin-bottom: 24px;
    padding: 8px 16px;
    font-size: 16px;
}
footer{
    background-color: #aaf5ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logof{
    width: 480px;
    margin-bottom: 24px;
}
.footlinks{
    margin-bottom: 24px;
}
.footlink{
    padding: 0 16px;
}

/* For smarthphone, tablet, etc */
@media (max-width: 728px){
    .row{
        flex-direction: column;
    }
    .headdesc{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homebutton{
        width: 240px;
    }
    h1{
        text-align: center;
        font: 60px;
    }
    .subheader{
        text-align: center;
        font: 32px;
    }
    ul{
        display: none;
    }
    .section__description{
        display: flex;
        flex-direction: column;
    }
}