@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    padding: 0 48px;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headlogo{
    width: 300px;
}

ul{
    display: flex;
    list-style: none;

}
a{
    color: black;
    text-decoration: none;
    margin-left: 24px;
    font-weight: 700;
}
header{
    display: flex;
    min-height: calc(100vh - 70px);
    padding: 24px;

}
.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subheader{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 72px;
}
.headp{
    font-size: 36px;
    margin: 12px 0 24px 0;
}
button{
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
#about, #discord, #contact, footer{
    padding: 0px 40px;
}
#about{
    background-color: #f8ffdc;
}
#discord{
    background-color: #cefeff;
}
#contact{
    background-color: #dce9ff;
}
h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:48px;
}
.descwrap{
    width: 60%;
}
.imagewrap{
    width: 40%;
}
img{
    width: 100%;
}
.mainpara{
    margin-bottom: 24px;
}
input{
    width: 100%;
    margin-bottom: 12px;
    font-size: 20px;
    padding: 6px 12px;
}
form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
textarea{
    width: 100%;
    margin-bottom: 12px;
    font-size: 20px;
    padding: 6px 12px;
}
footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerlogo{
    width: 300px;
    margin-top: 24px;
}
.footerlinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlink{
    margin: 12px 0 16px 12px;

}

